.photo-gallery {
    max-width: 800px;
    position: relative;
    margin: 10px auto;
    border: 3px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.photo-gallery .slider {
    width: 800px;
    height: 100%;
    margin-left: 0;
    white-space: nowrap;
    cursor: grab;
}

.photo-gallery .slider .photo {
    position: relative;
    height: 500px;
    width: 800px;
    background-color: #ccc;
    display: inline-block;
    user-select: none;
    pointer-events: none;
}

.photo-gallery .slider .photo img {
    vertical-align: bottom;
}

.photo-gallery .slider .photo .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 30px;
}